{
    "semi": false,
    "useTabs": true,
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always",
    "trailingComma": "all",
    "tabWidth": 4,
    "parser": "babel"
  }