@import "../../assets/css/_variables.scss";

.button{
  border-radius: 20px;
  height: 20px;
  background-color: $color-white;
  color: $color-bg;
  display: inline-block;
  line-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 100px;
}
