body{
  background-color: $color-bg;
  animation: fadein 0.5s;
  color: $color-white;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, .h1, .h2, .h3{
  margin-top: 0;
  margin-bottom: 0;
}

.h1{
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 1px;
}

.h3{
  font-size: 1.2em;
}

.h3{}
