.header{
  text-align: center;
  &__h3.h3{
    margin-top: 15px;
    margin-bottom: 30px;
  }
  &__social{
    &-item{
      display: inline-block;
      line-height: 0;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
