.image{
  height: 30px;
  width: 120px;
  display: inline-block;
  background-position: center center;
  background-size: 120px;
  padding: 10px 10px;
  box-sizing: content-box;
  background-repeat: no-repeat;
}
